@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.background {
    width: 100%;
    height: 100vh;
    padding: 0%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    width: 275px;
    height: auto;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

.sec {
    top: 0;
    left: 0;
    height: 90vh;
    position: relative;
    display: flex;
    padding: 0px;
    justify-content: center;
    background: #1c0522;
}

.coachestitle {
    width: 100%;
    height: 10vh;
    position: absolute;
}

.coachestitle h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    padding: 30px 80px;
}

.coachpics {
    width: 100%;
    height: 50vh;
    top: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coachpics img#hongtaochen {
    width: 25%;
    height: auto;
    margin-right: 5%;
    box-shadow: 0 0 30px #fff;
}

.coachpics img#eugenewang {
    width: 25%;
    height: auto;
    margin-right: 5%;
    box-shadow: 0 0 30px #fff;
}

.coachpics img#wisiqian {
    width: 25%;
    height: auto;
    box-shadow: 0 0 30px #fff;
}

.coachnames {
    width: 100%;
    height: 100vh;
    position: absolute;
    color: #fff;
    display: flex;
    padding-top: 75vh;
}

.coachnames h3 {
    font-size: 1.5em;
}

.coachnames h3#hongtaochen {
    padding-left: 13.5%;
    padding-right: 16%;
}

.coachnames h3#eugenewang {
    padding-right: 18.5%;
}

.coachdescriptions {
    width: 100%;
    height: 100vh;
    position: absolute;
    color: #fff;
    display: flex;
    padding-top: 81vh;
}

.coachdescriptions h4 {
    font-size: 1em;
}

.coachdescriptions h4#hongtaochen {
    padding-left: 13.5%;
    padding-right: 15.5%;
}

.coachdescriptions h4#eugenewang {
    padding-right: 16%;
}

.border {
    height: 6px;
}

.athletes1 {
    top: 0;
    left: 0;
    height: 95vh;
    position: relative;
    display: flex;
    padding: 0;
    background: #1c0522;
}

.athletestitle {
    color: #fff;
    height: 10vh;
    position: absolute;
}

.athletestitle h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    padding: 30px 80px;
}

.athletesrow1 {
    width: 100%;
    height: 50vh;
    top: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    position: relative;
    width: 25%;
    margin-right: 5%;
}

.image1 img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

.text1 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 26vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

.text1 h4 {
    font-size: 0.7em;
}

.image2 {
    position: relative;
    width: 25%;
    margin-right: 5%;
}

.image2 img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

.text2 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 26vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

.text2 h4 {
    font-size: 0.7em;
}

.image3 {
    position: relative;
    width: 25%;
}

.image3 img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

.text3 h4 {
    font-size: 0.7em;
}

.text3 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 26vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

.athletes2 {
    top: 0;
    left: 0;
    height: 95vh;
    position: relative;
    display: flex;
    padding: 0;
    background: #1c0522;
}

.athletesrow2 {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image4 {
    position: relative;
    width: 25%;
    margin-right: 5%;
    margin-left: 5%;
}

.image4 img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

.text4 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 26vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

.text4 h4 {
    font-size: 0.7em;
}

.image5 {
    position: relative;
    width: 25%;
    margin-right: 5%;
}

.image5 img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

.text5 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 26vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

.text5 h4 {
    font-size: 0.7em;
}

.image6 {
    position: relative;
    width: 25%;
    margin-right: 5%;
}

.image6 img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

.text6 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 26vw;
    width: 100%;
    color: #fff;
    font-size: 1em;
}

.text6 h4 {
    font-size: 0.7em;
}